/* Custom marker cluster styles for Leaflet MarkerCluster plugin */

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(255, 148, 23, 0.2) !important;
}
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: #FF9417 !important;
  color: white !important;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
}
